/* styles for list of posted tweets */
#tweet-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet {
  width: 100%;
  margin-bottom: 1em;
  padding-left: .7em;
  padding-right: .7em;

  border-style: solid;
  border-width: .2em;
  border-color: #545149;

  display: flex;
  flex-direction: column;
  
}

.tweet:hover {
  box-shadow: 4px 4px 0 darkgrey;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-avatar {
  padding-top: 3%;

  display: flex;
  align-items: center;
}

.tweet-avatar img{
  margin-right: 0.5em;
}

.tweet-handle {
  padding-top: 3%;
  font-weight: bold;
  color: lightgray;
}

.tweet p {
  padding-bottom: 1em;
  border-bottom-style: solid;
  border-width: .2em;
  border-color: #545149;
}

.tweet footer {
  font-size: 70%;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-date {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.tweet-icons {
  padding-top: 0.1em;
  color: darkslateblue;
}

.tweet-icons i:hover {
  color: darkgoldenrod;
}